/*--------------- 
          fonts
----------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*----------------
            common styles
------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-black:#161616;
    --color-orange: #DD0000;
    --color-white: #FFFFFF;
    --color-silver: silver;
    --side-width: 15%;
    --bottom-margin: 130px;
    --card-info-margin-common: 10px;
    --footer-margin-bottom: 2em;
}

/*------------------
             banner styles [header]
-------------------- */
.banner{
    display: flex;
    background-color: var(--color-black);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: var(--bottom-margin);
    border-radius: 30px;
}
.banner-text{
    width: 50%;
    color: var(--color-white);
    padding: 4%;
}
.banner-image img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-left: 50%;
}
#banner-title{
    font-weight: 700;
    font-size: 4em;
}
#banner-paragraph{
    margin-bottom:  30px;
}
#watch-button{
    display: flex;
    align-items: center;
}
#banner-button{
    color: var(--color-white);
    font-size: 20px;
    background-color: var(--color-orange);
    height: 56px;
    width: 146px;
    border-radius: 5px;
    padding: 16px, 25px, 16px, 25px;
    cursor: pointer;
}
.fa-angles-right{
    width: 30px;
    border-radius: 5px;
    position: relative;
}
@keyframes arrow {
    0%{
        left: 0;
        color: var(--color-silver);
    }
    20%{
        left: 20%;
        color: var(--color-silver);
    }
    40%{
        left: 40%;
        color: var(--color-silver);
    }
    60%{
        left: 60%;
        color: var(--color-silver);
    }
    80%{
        left: 80%;
        color: var(--color-silver);
    }
    100%{
        left: 100%;
        color: var(--color-silver);
    }
}
#watch-button:hover .fa-angles-right{
    animation: arrow 1s ease .2s infinite;
}


/*---------------- 
        menu and cards
------------------*/

.menu-and-cards, .menu-and-tables{
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    flex-direction: column;
    height: 312px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--color-black);
    margin-left: var(--side-width);
}
nav li{
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: var(--color-black);
}
nav li:hover{
    background-color: var(--color-orange);
}
nav >ul > li:hover > a{
    color: var(--color-white);
}
.links{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    height: 30%;
    margin: 12%;
    padding: 2%;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid silver;
}
.cards{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-right: var(--side-width);
}
.card{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.card .card-banner img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.card-info{
    margin-left: var(--card-info-margin-common);
}
.transfer-blog{
    width: 100px;
    height: 32px;
    margin-top: var(--card-info-margin-common);
    border-radius: 5px;
}
.card-footer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 20% auto;
}
.fa-clock, .fa-message{
    width: 1.5em;
}


/* view all button for tab version */

#view-all-button{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: var(--bottom-margin);
    background-color: var(--color-orange);
    padding: 0.4em;
    border: 0;
    border-radius: 10px;
}
#pad-button{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

/* --------------
            footer styles
----------------- */
footer{
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 8%;
}
.footer-title{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin-bottom: var(--footer-margin-bottom);
}
.footer-links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--footer-margin-bottom);
}
.social-icons{
    display: flex;
    justify-content: center;
}
.fa-brands{
    width: 2em;
}

/* ---------------
            upcoming matches styles
------------------ */
.matches-card{
    height: 242px;
}
.card-start{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.card-start p {
    margin-top: 1.2em;    
}
.card-end{
    text-align: center;
}
.match-time{
    color: #4D4D4D;
}

/* ----------------
            all group styles
------------------- */

.tables{
    width: 70%;
    margin-right: 3em;
    margin-bottom: var(--bottom-margin);
}
.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6em;
    row-gap: 3em;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid silver;
    padding: 0 2em;
}
th{
    background-color: lightsalmon;
}
td{
    background-color: lightskyblue;
}

/* ---------------
            Media Queries
------------------ */

/* Mobile devices */
@media only screen and (max-width: 688px) {
     .banner, .menu-and-cards, footer{
        width: 100%;
     }
     .banner, .menu-and-cards, .menu-and-tables{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2%;
     }
     .banner{
        margin:0;
        margin-bottom: var(--bottom-margin);
     }
     .banner-text{
        width: 70%;
        padding: 0;
        text-align: center;
     }
     #watch-button{
        display: flex;
        justify-content: center;
     }
     #banner-title{
        font-size: 2em;
     }
     .banner-image img {
        margin-left: 0;
     }
     nav > ul {
        background-color: var(--color-white);
        margin-left: 0;
     }

     .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-right: 0;
        width: 100%;
     }
     .tables{
        margin-right: 0;
        width: 100%;
     }
     .table{
        column-gap: 1%;
     }
     #pad-button{
        display: none;
     }
     .footer{
        padding: 0;
     }
     .footer-links{
        flex-direction: column;
        align-items: center;
     }

}

/* tablet devices */

@media only screen and (min-width:688px) and (max-width:992px) {
    .banner, .menu-and-cards, footer, .menu-and-tables{
        width: 100%;
     }
     .banner{
        margin:0;
        margin-bottom: var(--bottom-margin);
     }
     .banner-image img {
        margin-left: 0;
     }
    .menu-and-cards, .menu-and-tables{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2%;
     }
     #match-menu, .menu-and-tables{
        margin-bottom: var(--bottom-margin);
     }
     .menu{
        margin-bottom: 2%;
     }
     nav > ul {
        margin-left: 0;
     }
     .cards{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
     }
     .tables{
        margin-right: 0;
     }
     .footer-links{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
     }
}

@media only screen and (min-width:992px) {
    #pad-button{
        display: none;
     }
     .menu-and-cards{
        margin-bottom: var(--bottom-margin);
     }
}